[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
